In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
from river import metrics
from river import stream

In [8]:
import time
from sklearn.tree import DecisionTreeClassifier

In [9]:
train_df = pd.read_csv('final2.csv')
train_df

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,30,0,0,0,1,3,4,0,0,1,...,2,1,0,1,1,0,1,2,0,0
1,36,1,1,1,1,4,2,0,1,1,...,0,1,2,0,0,0,1,1,0,1
2,35,1,0,1,1,4,1,1,1,1,...,0,0,1,0,1,1,1,0,1,0
3,35,1,0,0,0,1,3,0,0,2,...,2,1,0,1,2,1,1,0,1,0
4,38,1,0,1,0,4,2,1,1,1,...,2,3,2,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10213,34,1,0,0,1,2,2,1,1,0,...,0,3,1,1,2,1,1,1,1,0
10214,43,1,0,0,1,3,1,0,0,1,...,2,1,2,0,1,0,0,1,0,0
10215,31,1,0,0,0,0,3,0,1,1,...,1,2,2,1,1,2,1,1,1,0
10216,24,1,0,0,0,2,2,1,0,0,...,0,1,1,0,0,0,1,0,1,1
10217,29,1,0,0,0,2,4,0,1,1,...,1,2,1,1,1,1,1,1,0,0

In [10]:
df_used = int(len(train_df)*0.2) 
df0 = train_df.iloc[-df_used:]
df0

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
8175,29,1,1,1,0,1,2,1,1,1,...,1,2,2,1,1,2,0,0,1,0
8176,40,1,0,0,0,2,4,0,0,1,...,0,2,2,1,1,0,1,0,2,0
8177,29,1,0,1,1,3,4,0,1,1,...,0,0,0,1,0,0,1,1,1,1
8178,28,2,0,1,1,4,4,0,1,2,...,2,2,1,1,1,0,1,1,2,0
8179,42,1,1,0,0,1,0,1,0,1,...,1,4,1,1,2,2,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10213,34,1,0,0,1,2,2,1,1,0,...,0,3,1,1,2,1,1,1,1,0
10214,43,1,0,0,1,3,1,0,0,1,...,2,1,2,0,1,0,0,1,0,0
10215,31,1,0,0,0,0,3,0,1,1,...,1,2,2,1,1,2,1,1,1,0
10216,24,1,0,0,0,2,2,1,0,0,...,0,1,1,0,0,0,1,0,1,1
10217,29,1,0,0,0,2,4,0,1,1,...,1,2,1,1,1,1,1,1,0,0

In [11]:
feature_cols = ['Age', 'Gender', 'self_employed','family_history','work_interfere', 'no_employees', 'remote_work', 'tech_company', 'leave'] 

X = df0.drop(['treatment'],axis=1)
y = df0.treatment
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.7, test_size = 0.3, shuffle=False, random_state = 0)
X_train

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
8175,29,1,1,1,1,2,1,1,1,0,...,1,2,2,1,1,2,0,0,1,0
8176,40,1,0,0,2,4,0,0,1,0,...,0,2,2,1,1,0,1,0,2,0
8177,29,1,0,1,3,4,0,1,1,1,...,0,0,0,1,0,0,1,1,1,1
8178,28,2,0,1,4,4,0,1,2,1,...,2,2,1,1,1,0,1,1,2,0
8179,42,1,1,0,1,0,1,0,1,1,...,1,4,1,1,2,2,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9600,33,1,0,1,3,2,1,1,1,2,...,2,3,0,1,2,1,1,1,2,0
9601,27,1,0,1,1,2,1,0,1,0,...,1,1,1,1,2,2,0,1,1,0
9602,31,1,0,0,4,1,1,1,2,2,...,1,3,1,1,2,1,0,0,0,0
9603,37,1,0,1,4,1,1,1,2,2,...,2,2,1,1,1,2,1,0,2,1
9604,30,1,0,1,4,4,1,0,2,1,...,2,2,2,1,0,0,2,2,1,0

In [12]:
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

clf = RandomForestClassifier(n_estimators=100)
classifier = AdaBoostClassifier(base_estimator=clf, n_estimators=100)
print(type(X_train))
print(type(y_train))
classifier.fit(X_train.values, y_train.values)
y_pred=classifier.predict(X_test)
acc=metrics.accuracy_score(y_test, y_pred)*100
print(acc)
base_acc=acc
print(base_acc)
print(type(y_pred))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
73.7357259380098
73.7357259380098
<class 'numpy.ndarray'>

C:\Users\Kritarth Bansal\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but AdaBoostClassifier was fitted without feature names
  warnings.warn(

In [ ]:
win_size=40
a=0.91
b=0.88
count_WL=0

yt=[]
yp=[]
xt=[]
d=0
i=0
x_new=[]
y_new=[]
counter_wl=0
counter_dl=0
X=train_df.drop(['treatment'],axis=1)
y=train_df.treatment

for xi,yi in stream.iter_pandas(X,y):
    xi2=np.array(list(xi.values()))
    y_pred=classifier.predict(xi2.reshape(1, -1))      # make a prediction
    #print(i)
    yt.append(yi)
    yp.append(y_pred)
    xt.append(xi2)
    #print(yt,yp,xt)
   
    #metric=metric.update(yi, y_pred[0])
    if i>=2*win_size and (i)%win_size==0:
        print("Evaluating")
        acc_currWin=accuracy_score(yt[i-win_size:],yp[i-win_size:])
        acc_lastWin=accuracy_score(yt[i-2*win_size:i-win_size],yp[i-2*win_size:i-win_size])
        #print(i-win_size)
        print(acc_currWin,acc_lastWin)
        
        if((acc_lastWin-acc_currWin)>0.05):
            print("Difference in accuracy",abs(acc_currWin-acc_lastWin))
    

        curr_win=(int)(i/win_size)
        print(curr_win)
        
        if((acc_currWin<a*acc_lastWin) and count_WL==0):
            print("Drift Detected(Warning Level) at window no. ",curr_win)
            counter_wl+=1
            count_WL=1
        elif(count_WL==1 and (acc_currWin<a*acc_lastWin) and (acc_currWin<b*acc_lastWin)):
            print("Drift Detected(Drift Level) at window no. ",curr_win)
            #print(i-2*win_size,i)
            counter_dl+=1
            classifier.fit(xt[i-2*win_size:],yt[i-2*win_size:]) 
        else :
            count_WL=0
    i+=1
           
print("warning level detected ",counter_wl," times")
print("drift level detected ",counter_dl," times")

Evaluating
0.7317073170731707 0.775
2
Evaluating
0.7317073170731707 0.75
3
Evaluating
0.7804878048780488 0.725
4
Evaluating
0.7804878048780488 0.775
5
Evaluating
0.7073170731707317 0.775
Difference in accuracy 0.06768292682926835
6
Evaluating
0.6829268292682927 0.7
7
Evaluating
0.7560975609756098 0.675
8
Evaluating
0.6097560975609756 0.75
Difference in accuracy 0.1402439024390244
9
Drift Detected(Warning Level) at window no.  9
Evaluating
0.7560975609756098 0.625
10
Evaluating
0.6585365853658537 0.75
Difference in accuracy 0.09146341463414631
11
Drift Detected(Warning Level) at window no.  11
Evaluating
0.6097560975609756 0.65
12
Evaluating
0.7560975609756098 0.6
13
Evaluating
0.5853658536585366 0.775
Difference in accuracy 0.18963414634146347
14
Drift Detected(Warning Level) at window no.  14
Evaluating
0.4878048780487805 0.575
Difference in accuracy 0.08719512195121948
15
Drift Detected(Drift Level) at window no.  15
Evaluating
0.6097560975609756 0.475
16
Evaluating
0.6097560975609756 0.6
17
Evaluating
0.6341463414634146 0.6
18
Evaluating
0.6341463414634146 0.625
19
Evaluating
0.6341463414634146 0.65
20
Evaluating
0.6097560975609756 0.625
21
Evaluating
0.7073170731707317 0.625
22
Evaluating
0.5365853658536586 0.7
Difference in accuracy 0.1634146341463414
23
Drift Detected(Warning Level) at window no.  23
Evaluating
0.7317073170731707 0.525
24
Evaluating
0.5853658536585366 0.75
Difference in accuracy 0.16463414634146345
25
Drift Detected(Warning Level) at window no.  25
Evaluating
0.6097560975609756 0.575
26
Evaluating
0.4878048780487805 0.625
Difference in accuracy 0.13719512195121952
27
Drift Detected(Warning Level) at window no.  27
Evaluating
0.6097560975609756 0.475
28
Evaluating
0.5609756097560976 0.6
29
Evaluating
0.5121951219512195 0.55
30
Evaluating
0.6829268292682927 0.525
31
Evaluating
0.5365853658536586 0.675
Difference in accuracy 0.13841463414634148
32
Drift Detected(Warning Level) at window no.  32
Evaluating
0.5609756097560976 0.55
33
Evaluating
0.5853658536585366 0.55
34